<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>dontchat</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylechat.css') }}">
</head>

<body>
    <h1>Sala de Chat: {{ chatId }}</h1>
    <div class="full-screen">
        <div class="organize">
            <div id="messages"></div>
            <div class="box-send_enter">
                <form class="align-form">
                    <input autoComplete="off" class="box-chat" name="box" type="text" placeholder="Digite a sua mensagem" id="box_message">
                    <button class="send-chat" type="submit">Enviar</button>
                </form>
            </div>
            <div>
                <form>
                    <input type="text" placeholder="Email">
                    <button>Enviar para o Email</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
    let route = 'http://' + document.domain + ':' + location.port;
    let socket = io(route);
    socket.on('connect', () => {
        socket.emit('joined', {
            username: '{{ username }}',
            chatId: '{{ chatId }}'
        });
    });

    socket.on('join_room', (data) => {
        const joinRoom = document.createElement('div');
        joinRoom.innerHTML = `<p class="join-style"><b>${data.username}&nbsp</b>entrou na sala</p>`
        updateScroll(joinRoom);
    });

    let chat = document.querySelector('form');
    let messageBox = document.getElementById('box_message');

    chat.addEventListener('submit', (event) => {
        socket.emit('message', {
            username: "{{ username }}",
            chatId: "{{ chatId }}",
            date: new Date,
            message: messageBox.value
        });
        event.preventDefault();
        document.getElementById('box_message').value = '';
    });

    socket.on('message', (data) => {
        const textChat = document.createElement('div');
        console.log(data)
        textChat.innerHTML = `<p  class="text-design"><b>${data.username}:&nbsp</b><br> ${data.message}</p>`;
        updateScroll(textChat);
    });

    function updateScroll(elmt) {
        const getDivMessages = document.getElementById('messages');
        getDivMessages.appendChild(elmt);
        getDivMessages.scrollTop = getDivMessages.scrollHeight; 
    };

</script>
</html>