<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>dontchat</title>
    </head>
    <body>
        <h1>dontchat</h1>
        <form>
            <div>
                <label>Coloque o seu nome:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label>Coloque o id da sala:</label>
                <input type="text" name="id">
            </div>
            <button type="submit">Entrar</button>
        </form>
    </body>
</html>