<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>dontchat</title>
        <style>
        .align-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        </style>
    </head>
    <body>
        <h1>dontchat</h1>
        <form class="align-form" action="/chat">
            <div>
                <label>Coloque o seu nome:</label>
                <input type="text" name="username" placeholder="Nome" required>
            </div>
            <div>
                <label>Coloque o id da sala:</label>
                <input type="text" name="chatId" placeholder="Sala" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </body>
</html>