body {
    height: 90vh;
    font-family: sans-serif;
}
.full-screen {
    display: flex;
    height: 100%;
    width: 100%;
}
.align-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: flex-end;
}
.box-chat {
    width: 80%;
    margin-right: 10px;
    word-wrap: break-word;
}
.send-chat {
    width: 20%;
    border-radius: 7%;
}
#messages {          
    overflow: auto;
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}
.organize {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 50%;
    margin: 5% auto;
    padding: 1%;
}
.text-design {
    background-color: #cccccc;
    padding: 1%;
    border-radius: 10px;
    word-wrap: break-word;
}
.box-send_enter {
    width: 100%;
    height: 9.5vh;
    margin-bottom: 1%;
}
.join-style {
    display: flex;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 10px;
    margin-right: 29%;
    margin-left: 29%;
}